APP_NAME=SpeakSense AI
APP_ENV=development
JWT_SECRET_KEY=change-this-secret-before-deployment
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=120

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=mani_password
MYSQL_DATABASE=speaksense_ai

UPLOAD_DIR=backend/uploads
REPORT_DIR=backend/reports
